.customCard{
    transition: all 0.5s;
    background-color: rgb(20, 19, 19);
}
.customCard:hover{
    transform: scale(1.01);
    transition: all 0.5s;
    box-shadow:rgb(155, 155, 150) -3px 2px 20px 2px;
}